main{
    background-image: url('../images/8218308_full-fond-d-ecran-hd-tekno-hd-techno-backgrounds-wallpaper-cave.png');
    background-size: cover;
    background-attachment: fixed;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section{
    display: flex;
    flex-direction: column;
}
table{
    margin: 50px;
}
td{
    font-style: italic;
    text-align: center;
    border-bottom: solid black;
    border-top: solid black;
}
th{
    border: solid black;
}
button{
    margin: 2vh;
    min-height:5vh;
    min-width:5vh;
    border-radius: 1em;
}
