section{
    display: flex;
    flex-direction: column;
}
table{
    margin: 50px;
}
td{
    text-align: center;
    border-bottom: solid black;
    border-top: solid black;
}
th{
    border: solid black;
}
button{
    min-height:10vh;
    min-width:10vh;
}
